<!DOCTYPE html>
<html>
<head>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Alatsi&family=Bebas+Neue&family=Poppins&family=Federant&display=swap" rel="stylesheet">
    <!-- LIBRARIES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

    <style type="text/css">

        body{
          background: #282828;
          font-family: "Bebas Neue";
        }

        h1 {
          font-size:  288px;
          margin: 0px;
          margin-top: 10vh;
        }

        h2 {
          font-size: 200px;
          margin: 0px;
          margin-top: -15vh;
          margin-left: 30vw;
        }

        #mynetwork {
            flex-grow: 2; /* default 0 */
        }

        #myCanvas {
          width: 60px;
          height: 60px;
        }

        .container {
          display: flex; /* or inline-flex */
          height: 99vh;
        }

        #settings {
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
          width: 300px;
          background: white;
          border-radius: 20px;
          position: absolute;
          left: 0;
          height: 95%;
          margin: 20px;
        }

        #info-card {
          box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
          width: 300px;
          background: white;
          border-radius: 20px;
          position: absolute;
          right: 0;
          height: 95%;
          margin: 20px;
        }

        .circular--portrait {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          height: 200px;
          overflow: hidden;
          border-radius: 50%;
        }

        .circular--portrait img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .headerLink {
          padding: 20px;
          color: white;
          font-size: 24px;
        }

        .headerLink:hover{
          transition: 0.3s;
          font-size: 28px;
          text-shadow: 2px 2px 8px white;
        }

        #loadingBar {
          position: absolute;
          left: 0px;
          width: 100vw;
          height: 100vh;
          background-color: rgba(200, 200, 200, 0.8);
          -webkit-transition: all 0.5s ease;
          -moz-transition: all 0.5s ease;
          -ms-transition: all 0.5s ease;
          -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
          opacity: 1;
        }

        #text {
          position: absolute;
          top: 8px;
          left: 530px;
          width: 30px;
          height: 50px;
          margin: auto auto auto auto;
          font-size: 22px;
          color: #000000;
        }

        div.outerBorder {
          position: relative;
          top: 400px;
          width: 600px;
          height: 44px;
          margin: auto auto auto auto;
          border: 8px solid rgba(0, 0, 0, 0.1);
          background: rgb(252, 252, 252); /* Old browsers */
          background: -moz-linear-gradient(
            top,
            rgba(252, 252, 252, 1) 0%,
            rgba(237, 237, 237, 1) 100%
          ); /* FF3.6+ */
          background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0%, rgba(252, 252, 252, 1)),
            color-stop(100%, rgba(237, 237, 237, 1))
          ); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(
            top,
            rgba(252, 252, 252, 1) 0%,
            rgba(237, 237, 237, 1) 100%
          ); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(
            top,
            rgba(252, 252, 252, 1) 0%,
            rgba(237, 237, 237, 1) 100%
          ); /* Opera 11.10+ */
          background: -ms-linear-gradient(
            top,
            rgba(252, 252, 252, 1) 0%,
            rgba(237, 237, 237, 1) 100%
          ); /* IE10+ */
          background: linear-gradient(
            to bottom,
            rgba(252, 252, 252, 1) 0%,
            rgba(237, 237, 237, 1) 100%
          ); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed',GradientType=0); /* IE6-9 */
          border-radius: 72px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        #border {
          position: absolute;
          top: 10px;
          left: 10px;
          width: 500px;
          height: 23px;
          margin: auto auto auto auto;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
          border-radius: 10px;
        }

        #bar {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 20px;
          height: 20px;
          margin: auto auto auto auto;
          border-radius: 11px;
          border: 2px solid rgba(30, 30, 30, 0.05);
          background: rgb(0, 173, 246); /* Old browsers */
          box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.4);
        }


    </style>
</head>
<body>
<div class="container" style="flex-direction: column;">
    <div style="text-align: right;padding: 10px;">
        <span class="headerLink">THE PROJECT</span>
        <span class="headerLink">THE NETWORK</span>
        <span class="headerLink">THE RESULTS</span>
    </div>
    <center>
        <h1>NEUTRALITY</h1>
        <h2>A CASE STUDY</h2>
    </center>
</div>
<div class="container">
  <div id="mynetwork"></div>
  <div id="loadingBar">
    <div class="outerBorder">
      <div id="text">0%</div>
      <div id="border">
        <div id="bar"></div>
      </div>
    </div>
  </div>
  <div id="settings"></div>
  <div id="info-card" style="display: none">
    <img src="https://www.svgrepo.com/show/83454/cross.svg" onclick="neighbourhoodHighlight();toggleInfoCard();" width="12" height="12" style="padding-top: 20px;padding-left: 20px;">
    <center style="padding:20px">
      <div class="circular--portrait">
        <img id="info-card-img" src="https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg"></img>
      </div>
    </center>
  </div>
</div>

<script type="text/javascript">

    function buildGCCNodes(){

        <% @nazisNodesGCC.each do |node| %>
            GCCnodes.add({
                id: '<%= node['0'] %>',
                shape: 'circularImage',
                image: '/Hitler_portrait_crop.jpeg',
                label: '<%= node['0'] %>',
                widthMin: 20,
                widthMax: 20
            });
        <% end %>
    }

    var GCCnodes = new vis.DataSet([]);
    buildGCCNodes();

    var nodes = new vis.DataSet([]);
    <% @nazisNodes.each do |node| %>

      nodes.add({
          id: '<%= node['Name'] %>',
          shape: 'circularImage',
          image: '/Hitler_portrait_crop.jpeg',
          label: '<%= node['Name'] %>',
          widthMin: 20,
          widthMax: 20
      });
    <% end %>

    var edges = new vis.DataSet([]);
    <% @nazisLinks.each do |link| %>
      edges.add({from: '<%= link['Source Node']%>', to: '<%=link['Target Node']%>'});
    <% end %>

    var network;
    var allNodes;
    var highlightActive = false;


    function redrawAll() {
      var container = document.getElementById("mynetwork");
      var options = {
        nodes:{
          borderWidth: 0,
          borderWidthSelected: 0,
          brokenImage:undefined,
          fixed: false,
          font: {
            color: '#343434',
            size: 14, // px
            face: 'Federant',
          },
          opacity: 0.8,
          scaling: {
            label: true
          },
          shadow: true,
          shapeProperties: {
            interpolation: false    // 'true' for intensive zooming
          }
        },
        edges:{
          color: {
            opacity:0.5
          },
          selectionWidth: 3,
          width: 0.5,
          smooth: {
            forceDirection: "none"
          }
        },
        physics: {
          stabilization: {
              enabled: true,
              fit: true
          },
          solver: 'forceAtlas2Based',
          forceAtlas2Based: {
            theta: 0.8,
            gravitationalConstant: -1000,
            centralGravity: 0.01,
            springConstant: 0.08,
            springLength: 3000,
            damping: 0.1,
            avoidOverlap: 1
          }
        },
        layout: {
          improvedLayout:false
        }

      };

      var data = {
        nodes: nodes,
        edges: edges
      };

      network = new vis.Network(container, data, options);

      // get a JSON object
      allNodes = nodes.get({ returnType: "Object" });

      // SET NODE SIZE ACCORDING TO THE PARAM
      updateNodeSize();

      // LISTENERS FOR NODE CLICK ACTION
      network.on('click', function(properties) {
          neighbourhoodHighlight(properties);
          toggleInfoCard(properties);
      });

      // DISABLE PHYSICS
      network.on("stabilizationIterationsDone", function () {
          network.setOptions( { physics: false } );
      });

      network.on("stabilizationProgress", function (params) {
        var maxWidth = 496;
        var minWidth = 20;
        var widthFactor = params.iterations / params.total;
        var width = Math.max(minWidth, maxWidth * widthFactor);

        document.getElementById("bar").style.width = width + "px";
        document.getElementById("text").innerText =
          Math.round(widthFactor * 100) + "%";
      });
      network.once("stabilizationIterationsDone", function () {
        document.getElementById("text").innerText = "100%";
        document.getElementById("bar").style.width = "496px";
        document.getElementById("loadingBar").style.opacity = 0;
        // really clean the dom element
        setTimeout(function () {
          document.getElementById("loadingBar").style.display = "none";
        }, 500);
      });

    }

    function updateNodeSize(){
      for (var nodeId in allNodes) {
        allNodes[nodeId].size = 100+5*network.getConnectedEdges(nodeId).length;
      }
      // transform the object into an array
      var updateArray = [];
      for (nodeId in allNodes) {
        if (allNodes.hasOwnProperty(nodeId)) {
          updateArray.push(allNodes[nodeId]);
        }
      }
      nodes.update(updateArray);
    }

    function neighbourhoodHighlight(params) {
        // if something is selected:
        if (params && params.nodes.length > 0) {
          highlightActive = true;
          var i, j;
          var selectedNode = params.nodes[0];
          var degrees = 2;

          // mark all nodes as hard to read.
          for (var nodeId in allNodes) {
            allNodes[nodeId].color = "rgba(200,200,200,0.5)";
            allNodes[nodeId].opacity = 0.1;
            if (allNodes[nodeId].hiddenLabel === undefined) {
              allNodes[nodeId].hiddenLabel = allNodes[nodeId].label;
              allNodes[nodeId].label = undefined;
            }
          }
          var connectedNodes = network.getConnectedNodes(selectedNode);
          var allConnectedNodes = [];

          // get the second degree nodes
          for (i = 1; i < degrees; i++) {
            for (j = 0; j < connectedNodes.length; j++) {
              allConnectedNodes = allConnectedNodes.concat(
                network.getConnectedNodes(connectedNodes[j])
              );
            }
          }

          // all second degree nodes get a different color and their label back
          for (i = 0; i < allConnectedNodes.length; i++) {
            allNodes[allConnectedNodes[i]].color = "rgba(150,150,150,0.75)";
            allNodes[nodeId].opacity = 0.8;
            if (allNodes[allConnectedNodes[i]].hiddenLabel !== undefined) {
              allNodes[allConnectedNodes[i]].label =
                allNodes[allConnectedNodes[i]].hiddenLabel;
              allNodes[allConnectedNodes[i]].hiddenLabel = undefined;
            }
          }

          // all first degree nodes get their own color and their label back
          for (i = 0; i < connectedNodes.length; i++) {
            allNodes[connectedNodes[i]].color = '#97C2FC';
            allNodes[connectedNodes[i]].opacity = 0.8;
            if (allNodes[connectedNodes[i]].hiddenLabel !== undefined) {
              allNodes[connectedNodes[i]].label =
                allNodes[connectedNodes[i]].hiddenLabel;
              allNodes[connectedNodes[i]].hiddenLabel = undefined;
            }
          }

          // the main node gets its own color and its label back.
          allNodes[selectedNode].color = '#97C2FC';
          allNodes[selectedNode].opacity = 0.8;
          if (allNodes[selectedNode].hiddenLabel !== undefined) {
            allNodes[selectedNode].label = allNodes[selectedNode].hiddenLabel;
            allNodes[selectedNode].hiddenLabel = undefined;
          }
        } else if (highlightActive === true) {
          // reset all nodes
          for (var nodeId in allNodes) {
            allNodes[nodeId].color = '#97C2FC';
            allNodes[nodeId].opacity = 0.8;
            if (allNodes[nodeId].hiddenLabel !== undefined) {
              allNodes[nodeId].label = allNodes[nodeId].hiddenLabel;
              allNodes[nodeId].hiddenLabel = undefined;
            }
          }
          highlightActive = false;
        }

        // transform the object into an array
        var updateArray = [];
        for (nodeId in allNodes) {
          if (allNodes.hasOwnProperty(nodeId)) {
            updateArray.push(allNodes[nodeId]);
          }
        }
        nodes.update(updateArray);
    }

    function toggleInfoCard(properties){
        if (properties && nodes.get(properties.nodes) != ""){
          var clickedNodes = nodes.get(properties.nodes);
          $('#info-card-img').attr("src",clickedNodes[0]['image']);
          $('#info-card').fadeIn();
        }
        else {
          $('#info-card').fadeOut();
          $('#info-card').promise().done(function(){
              // will be called when all the animations on the queue finish
              $('#info-card-img').attr("src",'https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg');
          });
        }
    }

    redrawAll();


</script>
</body>
</html>
